/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

/*Color*/
:root{
    --main_color: #FDFFFC;
    --text_color: #444444;
    --icon_color: #FF9F1C;
    --hover: #E71D36;
    --web_margin: 16px;
    --scroll-size: 6px;
    --scroll-radius: 10px;
    --scroll-track: #F8F8F8;
    --scroll-thumb-color: #bbbbbb;
}

/*Scroll bar*/
::-webkit-scrollbar{
    display: none;
}

/*Main Code*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: var(--text_color);
}

header{
    width: 100%;
    display: block;
    height: 100%;
    background: var(--main_color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: var(--web_margin);
    padding-right: var(--web_margin);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

nav a{
    text-decoration: none;
}

#title{
    text-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    text-decoration: none;
}

.menu_items{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu-item{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
}

#btn_menu{
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.menu-item p{
    margin-left: 5px;
}

.categories{
    margin: 15px 0px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    padding-left: var(--web_margin);
    padding-right: var(--web_margin);
}

.cat-items{
    height: 60px;
    border-radius: 15px;
    border: 2px solid var(--text_color);
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-items a{
    text-decoration: none;
    font-weight: 500;
}

.search-box{
    padding-left: var(--web_margin);
    padding-right: var(--web_margin);
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.card_search{
    margin: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card_search .img img{
    width: 100%;
    height: 120px;
    display: block;
}

.text_search{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding: 0px 5px;
}

.text_search h5{
    font-size: 14px;
}

.popup_content_search{
    width: 100%;
    max-height: 500px;
    padding: 10px;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    overflow-y:scroll;
    scroll-snap-type: y mandatory;
}

.popup_content_search::-webkit-scrollbar {
    width: var(--scroll-size, 10px);
    height: var(--scroll-size, 10px);
  }

.popup_content_search::-webkit-scrollbar-track {
    background-color: var(--scroll-track, transparent);
    border-radius: var(--scroll-track-radius, var(--scroll-radius));
  }

.popup_content_search::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color, rgb(255, 255, 255));
    background-image: var(--scroll-thumb, none);
    border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
  }


.content{
    padding-left: var(--web_margin);
    padding-right: var(--web_margin);
}

#bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.imgur.com/xv4b1u8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.search_input{
    background-color: #FDFFFC;
    width: 60%;
    height: 60px;
    border-radius: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.search-box #submit{
    width: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.search_input input{
    width: 95%;
    height: 30px;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
    outline: none;
}

.card-slider{
    margin-left: var(--web_margin);
    margin-right: var(--web_margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.slider{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.card-title{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.wrapper, .wrapper_new, .wrapper_out, .wrapper_prod, .wrapper_des{
  width: 100%;
  display: flex;
  position: relative;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
}

.wrapper a, .wrapper_new a, .wrapper_out a, .wrapper_prod a, .wrapper_des a{
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper a > span, .wrapper_new a > span, .wrapper_out a > span, .wrapper_prod a > span, .wrapper_des a > span{
    padding-top: 12px;
}

.wrapper a:active, .wrapper_new a:active, .wrapper_out a:active, .wrapper_prod a:active, .wrapper_des a:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper a:first-child, .wrapper_new a:first-child, .wrapper_out a:first-child, .wrapper_prod a:first-child, .wrapper_des a:first-child{
  left: 0px;
}
.wrapper a:last-child, .wrapper_new a:last-child, .wrapper_out a:last-child, .wrapper_prod a:last-child, .wrapper_des a:last-child{
  right: 0px;
}
.wrapper .carousel, .wrapper_new .carousel_new, .wrapper_out .carousel_out, .wrapper_prod .carousel_prod, .wrapper_des .carousel_des{
    padding: 10px 0px;
    width: 90%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 13px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar, .carousel_new::-webkit-scrollbar, .carousel_out::-webkit-scrollbar, .carousel_prod::-webkit-scrollbar, .carousel_des::-webkit-scrollbar{
  display: none;
}
.carousel.no-transition, .carousel_new.no-transition, .carousel_out.no-transition, .carousel_prod.no-transition, .carousel_des.no-transition{
  scroll-behavior: auto;
}
.carousel.dragging, .carousel_new.dragging, .carousel_out.dragging, .carousel_prod.dragging, .carousel_des.dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card, .carousel_new.dragging .card_new, .carousel_out.dragging .card_out, .carousel_prod.dragging .card_prod, .carousel_des.dragging .card_des{
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img), .carousel_new :where(.card_new, .img), .carousel_out :where(.card_out, .img), .carousel_prod :where(.card_prod, .img), .carousel_des :where(.card_des, .img){
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card, .carousel_new .card_new, .carousel_out .card_out, .carousel_prod .card_prod, .carousel_des .card_des{
  scroll-snap-align: start;
  height: 340px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding: 10px 0px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}

.carousel .card .img, .carousel_new .card_new .img, .carousel_out .card_out .img, .carousel_prod .card_prod .img, .carousel_des .card_des .img{
  height: 170px; 
  width: 170px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.card .img img, .carousel_new .card_new .img img, .carousel_out .card_out .img img, .carousel_prod .card_prod .img img, .carousel_des .card_des .img img{
  width: 170px;
  height: 170px;
  border-radius: 20px;
}

.carousel .card h2, .carousel_new .card_new h2, .carousel_out .card_out h2, .carousel_prod .card_prod h2, .carousel_des .card_des h2{
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span, .carousel_new .card_new span, .carousel_out .card_out span, .carousel_prod .card_prod span, .carousel_des .card_des span{
  color: #6A6D78;
  font-size: 1.31rem;
}

.price_after{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#etiqueta{
    background-color: #E71D36;
    padding: 5px;
    margin-left: 5px;
    color: var(--main_color);
    font-size: 10px;
    border-radius: 10px;
}

#off_day{
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 3px 15px;
    color: var(--main_color);
    font-size: 9px;
    border-radius: 5px;
}

#submit{
    border: none;
    background: none;
    cursor: pointer;
}

.search_request{
    width: 100%;
    margin: 20px 0px;
    padding-left: var(--web_margin);
    padding-right: var(--web_margin);
}

.request{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: X mandatory;
    padding: 10px;
}

#description{
    font-size: 8px;
}

.cards{
    margin-bottom: 20px;
    padding: 10px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
}

#logo{
    width: 150px;
}

.img{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img img{
    width: 200px;
    height: 180px;
    border-radius: 20px;
    display: block;
}

#buy{
    padding-top: 4px;
}

.btn_options{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    margin-top: 5px;
}

.btn_options button, #categ{
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: -5px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    text-align: center;
    background-color: #444444;
    font-size: 12px;
    margin-right: 5px;
}

.details span{
    color: var(--main_color);
}

.card_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 0px 5px;
}

.categorias{
    display: flex;
}

.loginBox{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
}

section{
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}

.buttons{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

footer{
    padding-left: var(--web_margin);
    padding-right: var(--web_margin);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a{
    text-align: center;
    text-decoration: none;
}

.menu_reponsive{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu_reponsive a{
    height: 40px;
    text-align: center;
    text-decoration: none;
}

.menu_reponsive a span{
    display: none;
}

.more_info{
    width: 600px;
    height: 450px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #f5f1f1;
}

.btn_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.btn_title h2{
    font-size: 16px;
}

.btn_title button{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

.offers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer{
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
}

.offer p{
    text-align: center;
}

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .close_btn {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
    cursor: pointer;
	color: #BBBBBB;
}

.popup .close_btn:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: bold;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

.product_view{
    display: flex;
}

.wrap_card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#img_view{
    display: block;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}

.info{
    text-align: center;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#v_title{
    border-bottom: 2px solid rgba(0,0,0,.3);
}

#v_cal{
    font-size: 12px;
}

#v_description{
    text-align: center;
    font-size: 14px;
    text-align: justify;
}

#v_precio{
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0px 5px -10em;
}

#v_res{
    font-size: 12px;
}

.v_clas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#yellow{
    color: #FF9F1C;
    padding-top: 5px;
}

::selection{
    color: #fff;
    background: #1a81ff;
  }
  .container_rev{
    width: 500px;
    height: 480px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    transition: height 0.2s ease;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  }
  .container_rev.active{
    height: 590px;
  }
  .container_rev .wrapper_rev{
    width: 1000px;
    display: flex;
  }
  .container_rev.wrapper_rev section{
    width: 500px;
    background: #fff;
  }
  .container_rev img{
    cursor: pointer;
  }
  .container_rev .post{
    transition: margin-left 0.18s ease;
  }
  .container_rev.active .post{
    margin-left: -500px;
  }
  .post header{
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
  }
  .post form{
    margin: 20px 25px;
  }
  .post form .content,
  .audience .list li .column{
    display: flex;
    align-items: center;
  }
  .post form .content img{
    cursor: default;
    max-width: 52px;
  }
  .post form .content .details{
    margin: -3px 0 0 12px;
  }
  form .content .details p{
    font-size: 17px;
    font-weight: 500;
  }
  .content .details .privacy{
    display: flex;
    height: 25px;
    cursor: pointer;
    padding: 0 10px;
    font-size: 11px;
    margin-top: 3px;
    border-radius: 5px;
    align-items: center;
    max-width: 98px;
    background: #E4E6EB;
    justify-content: space-between;
  }
  .details .privacy span{
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
  }
  .details .privacy i:last-child{
    font-size: 13px;
    margin-left: 1px;
  }
  form :where(textarea, button){
    width: 100%;
    outline: none;
    border: none;
  }
  form textarea{
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
  }
  form textarea::placeholder{
    color: #858585;
  }
  form textarea:focus::placeholder{
    color: #b3b3b3;
  }
  form :where(.theme-emoji, .options){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .theme-emoji img:last-child{
    max-width: 24px;
  }
  form .options{
    height: 57px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 7px;
    border: 1px solid #B9B9B9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  form .options :where(.list, li),
  .audience :where(.arrow-back, .icon, li .radio){
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .options p{
    color: #595959;
    font-size: 15px;
    font-weight: 500;
    cursor: default;
  }
  form .options .list{
    list-style: none;
  }
  .options .list li{
    height: 42px;
    width: 42px;
    margin: 0 -1px;
    cursor: pointer;
    border-radius: 50%;
  }
  .options .list li:hover{
    background: #f0f1f4;
  }
  .options .list li img{
    width: 23px;
  }
  form a{
    height: 53px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #BCC0C4;
    cursor: no-drop;
    border-radius: 7px;
    background: #e2e5e9;
    transition: all 0.3s ease;
  }
  form textarea:valid ~ button{
    color: #fff;
    cursor: pointer;
    background: #4599FF;
  }
  form textarea:valid ~ button:hover{
    background: #1a81ff;
  }
  .container .audience{
    opacity: 0;
    transition: opacity 0.12s ease;
  }
  .container.active .audience{
    opacity: 1;
  }
  .audience header{
    padding: 17px 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #bfbfbf;
  }
  .audience header .arrow-back{
    position: absolute;
    left: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    color: #747474;
    border-radius: 50%;
    background: #E4E6EB;
  }
  .audience header p{
    font-size: 22px;
    font-weight: 600;
  }
  .audience .content{
    margin: 20px 25px 0;
  }
  .audience .content p{
    font-size: 17px;
    font-weight: 500;
  }
  .audience .content span{
    font-size: 14px;
    color: #65676B;
  }
  .audience .list{
    margin: 15px 16px 20px;
    list-style: none;
  }
  .audience .list li{
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 12px 10px;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
  }
  .list li.active,
  .audience .list li.active:hover{
    background: #E5F1FF;
  }
  .audience .list li:hover{
    background: #f0f1f4;
  }
  .audience .list li .column .icon{
    height: 50px;
    width: 50px;
    color: #333;
    font-size: 23px;
    border-radius: 50%;
    background: #E4E6EB;
  }
  .audience .list li.active .column .icon{
    background: #cce4ff;
  }
  .audience .list li .column .details{
    margin-left: 15px;
  }
  .list li .column .details p{
    font-weight: 500;
  }
  .list li .column .details span{
    font-size: 14px;
    color: #65676B;
  }
  .list li .radio{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #707070;
  }
  .list li.active .radio{
    border: 2px solid #4599FF;
  }
  .list li .radio::before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: inherit;
  }
  .list li.active .radio::before{
    background: #4599FF;
  }

  .wrapper_res{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper_res .box{
    background: #fff;
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  }
  .wrapper_res .box i.quote{
    font-size: 20px;
    color: #17a2b8;
  }
  .wrapper_res .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name{
    font-weight: 600;
    font-size: 17px;
  }
  .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: #17a2b8;
  }
  .box .info .stars{
    margin-top: 2px;
  }
  .box .info .stars i{
    color: #17a2b8;
  }
  .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #17a2b8;
    border-radius: 50%;
  }
  .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .box:hover .content .image img{
    border-color: #fff;
  }
  @media (max-width: 1045px) {
    .wrapper .box{
      width: calc(50% - 10px);
      margin: 10px 0;
    }
  }
  @media (max-width: 702px) {
    .wrapper .box{
      width: 100%;
    }
  }
/*Animaciones*/
@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*Response Media queries*/
@media screen and (max-width: 1024px){
    .op_menu{
        display: none;
    }

    .menu_reponsive .op_menu{
        display: block;
    }
}

@media screen and (max-width: 512px){
    #btn_menu{
        display: block;
    }

    .menu_items{
        display: none;
    }

    .categories{
        scroll-snap-type: X mandatory;
        overflow: scroll;
        justify-content: start;
    }


}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 3) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  








